*.pyc
*.swp
__pycache__
tmp
.env*
.idea
.DS_Store
.ropeproject
*.dat
*.idx
*.data
*.index
segmentation/mask_rcnn_coco.h5
segmentation/mask_rcnn_coco.h5_.gstmp
object_segmentation/mask_rcnn_coco.h5
object_segmentation/condaenv.nBQC1_.requirements.txt
cars/*
devkit/*
tmp/*

