bin/
.DS_Store
.idea/
results.csv
saliency_detection_output/*
bounding_boxes.json
bounding_boxes_training.json
bounding_boxes_test.json
butterflies_rgb.txt
caltech101/*
cars.json
testingset_raw/*
trainingset_raw/*
output_model_1/*
output_model_2/*
output_model_3/*
model_data/yolo.h5
testingset_obj_extracted/*
trainingset_obj_extracted/*
save_model_1/*
save_model_2/*
save_model_3/*
thumbnail_output/*
trainingset_tmp/*
testingset_tmp/*
trainingset/*
testingset/*
configuration/*.pyc
dimensionality_reduction/*.pyc
model_1/*.pyc
model_2/*.pyc
model_3/*.pyc
preprocessing/*.pyc
similarity/*.pyc
similarity/*.pyc
train/*.pyc
edge_detection_output/*
edge_detection_output/*.pyc
cars-final.json
cars-filter.json
cars-filter-training.json
cars-filter-testing.json
*.pyc
*.swp
*.log
trainingset
thumbnail_output/*
saliency_output/*
*.jpg
*.h5
local_test_data/*
datasets
